<!DOCTYPE html>
<html lang="en">

<body class="container">


    <main>
        <div class="row">
        <% instagram.forEach(function(insta) { %>
        <div class="instagram-pic col-sm-3">

            <a href="<%= insta.link %>" target="_blank">
                <img src="<%= insta.images.standard_resolution.url %>" class="img-responsive">
            </a>

            <div class="instagram-bar">

                <div class="location">
                    <span class="glyphicon glyphicon-comment"></span> <%= insta.location ? insta.location.name : '' %>
                </div>

                <div class="caption">
                    <span class="glyphicon glyphicon-comment"></span> <%=  insta.caption.text ? insta.caption.text : ' ' %>
                </div>

                <div class="tags">
                    <span class="glyphicon glyphicon-comment"></span> <%= insta.tags[0] ? insta.tags[0] : ' '%>
                </div>

                <div class="likes">
                    <span class="glyphicon glyphicon-heart"></span> <%= insta.likes.count %>
                </div>

                <div class="comments">
                    <span class="glyphicon glyphicon-comment"></span> <%= insta.comments.count %>
                </div>
            </div>

        </div>
        <% }); %>
        </div>
    </main>

  

</body>
</html>